modules = ["nodejs-20"]

[userenv]

[userenv.shared]
CLOUDBEDS_PROPERTY_ID = "XQKeS3"
QPAY_USERNAME = "DALAI_EEJ_RESORT"
QPAY_PASSWORD = "TOP4WChw"
NEXT_PUBLIC_BASE_URL = "https://098718ea-addb-41fe-93a7-6bb3eb8e8db0-00-jrmc4jbez5aj.picard.replit.dev"
QPAY_INVOICE_CODE = "DALAI_EEJ_RESORT_INVOICE"

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dalai Eej Resort"

[[workflows.workflow]]
name = "Dalai Eej Resort"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
