modules = ["nodejs-20"]

[userenv]

[userenv.shared]
CLOUDBEDS_CLIENT_ID = "live1_177930597200001_alX1GtenuJ5UZsTkg7KhqECV"
CLOUDBEDS_CLIENT_SECRET = "oiQgBSMmUOzqPfeEGJXjCu98Lcd5bK3A"
CLOUDBEDS_PROPERTY_ID = "177930597200001"
QPAY_USERNAME = "TEST_MERCHANT"
QPAY_PASSWORD = "123456"

[nix]
channel = "stable-25_05"
